/* start settings project  */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 26;
  background-color: #343434;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  display: block;
}



.settings-form {
  margin: 100px auto;
  width: 450px;
  padding: 30px 30px 30px 0;
  padding-left: 50px;
  background-color: #fdec51;
}

.settings-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.settings-top-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.settings-top-button {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.settings-top-button:hover {
  opacity: 1;
}


.settings-hero-wrapper {
  position: relative;
  left: 15px;
  width: 450px;
  margin-bottom: 30px;
  padding: 20px;
  padding-top: 30px;
  background-color: #fff;
}

.setting-hero-img {
  position: absolute;
  top: -20px;
  border-radius: 50%;
}

.hero-label {
  color: #808080;
}

.hero-input {
  display: block;
  padding-bottom: 8px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: bold;
  background: none;
  font-weight: bold;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1px solid #343434;
}

.hero-center-wrapper:nth-of-type(1) .hero-input {
  margin-bottom: 0;
  border-bottom: none;
}

::placeholder {
  color: #343434;
  opacity: 0.7;
  margin-bottom: 15px;
  font-weight: bold;
}

.hero-center-wrapper {
  display: flex;
  border-bottom: 1px solid #343434;
  margin-bottom: 10px;
}

.hero-textarea {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 80px;
  border: none;
  border-bottom: 1px solid #343434;
  resize: vertical;
  outline: none;
}

.hero-textarea::placeholder {
  font-weight: bold;
  color: #343434;
  opacity: 0.7;
}

.settings-bottom-wrapper {
  display: flex;
  justify-content: end;
}

.settings-bottom-button {
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  color: #343434;
  opacity: 0.7;
}

.settings-bottom-button:hover {
  opacity: 1;
}






